<!DOCTYPE html>
<html>
<head>
  <title>URL Hashing System</title>
  <link rel="stylesheet" href="<%= baseurl %>/style.css">
</head>
<body>
  <div class="box">
  <form action="/hash" method="POST">
    <h1>URL Hashing System</h1>
      <input class="myinput" type="text" name="url" placeholder="Enter URL" required>
      <button class="indexbutton" type="submit">Generate Hashed URL</button>
  </form>
  </div>
</body>
</html>