<!DOCTYPE html>
<html>
<head>
  <title>URL Hashing System</title>
</head>
<body>
  <h1>URL Hashing System</h1>
  <form action="/hash" method="POST">
    <input type="text" name="url" placeholder="Enter URL" required>
    <button type="submit">Generate Hashed URL</button>
  </form>
</body>
</html>