.box{
    width: 100%;
    height: 100vh;
    background-color: #dae8de;
  }
  .myinput{
    height: 40px;
    width: inherit;
    max-width: 600px;
    padding-left: 8px;
    padding-right: 8px;
  }
  form{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .indexbutton{
    margin-top: 24px;
    padding: 8px;
  }
  body{
    background-color:#dae8de;
  }
  .hashbox{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }